* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: green; */
  font-family: "Inter", sans-serif;
  height: 100vh;
}

/* header */

.container {
  /* position: relative; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/last.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  min-height: 210px;
  margin: 0 auto;
}

.container h1 {
  font-weight: 800;
  font-size: 2.68rem;
  margin-left: 2rem;
}

.watchlist-link {
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: none;
  margin-right: 2rem;
}
.watchlist-link:hover {
  color: red;
}

.container h1,
.watchlist-link {
  color: white;
}

/* Search input */

.section-one {
  background-color: white;
  margin: 0 auto;
  width: 550px;
}

.input-container {
  display: flex;
  justify-content: center;
  position: relative;

  padding-bottom: 3rem;
}

.input {
  width: 342px;
  height: 38px;
  padding: 0.56rem 0.81rem 0.56rem 0.81rem;
  border-radius: 0.375rem 0 0 0.375rem;
  border: 1px;
  border: 1px solid rgba(209, 213, 219, 1);
  padding-left: 2rem;

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(107, 114, 128, 1);
}
.submitBtn {
  width: 120px;
  height: 38px;
  padding: 0.56rem 0.68rem 0.56rem 1.06rem;
  border-radius: 0px 0.375rem 0.375rem 0px;
  border: 1px;
  background: linear-gradient(0deg, #d1d5db, #d1d5db),
    linear-gradient(0deg, #f9fafb, #f9fafb);
  border: 1px solid rgba(209, 213, 219, 1);
  cursor: pointer;
  font-weight: 600;
}

.input:focus {
  outline: none;
}
/* section-two */

.section-two-container {
  width: 550px;
  margin: 0 auto;
  min-height: 570px;
  background-color: white;
}
.icon {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 1rem;

  color: rgba(156, 163, 175, 1);
}
.exploring-text {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(223, 221, 221, 1);
  margin-top: 1rem;
}
/* Second page styles */
.add-movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
}

.exploring-container,
.watchlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  min-height: 570px;
}

.movie-info-container {
  width: 462px;
  min-height: 147px;
  border-radius: 2.3px;

  /* border: 2px solid green; */
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.movie-img-cont {
  /* background-color: greenyellow; */
  min-height: 150px;
  width: 99px;
}
.movie-img-cont > img {
  min-height: 150px;
  width: 99px;
}

.movie-info-box {
  background-color: white;
}

.child-one > *,
.child-two > *,
.child-three {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
}

.child-three {
  /* background-color: blue; */

  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(107, 114, 128, 1);
}

.child-one,
.child-two,
.add-icon-container,
.subtract-icon-container {
  display: flex;
  align-items: center;
}

.child-two > * {
  font-size: 0.75rem;
}

.add-icon-container > *,
.subtract-icon-container > * {
  margin-left: 0.2rem;
  gap: 1rem;
}
.watch,
.delete {
  font-size: 1.2rem;
}
.watch:hover {
  color: blue;
}

.delete:hover {
  color: red;
}

.section-two-parent {
  padding-top: 1rem;
}

.section-three {
  background-color: white;
  padding: 1rem;
  width: 550px;
  margin: 0 auto;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: none;
}

.section-three > * {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
}

.section-three > *:hover {
  color: red;
  border: 1px solid red;
}

.input-container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .container h1,
  .container-second-page-heading {
    font-weight: 800;
    font-size: 2rem;
    margin-left: 2rem;
  }

  .watchlist-link,
  .container-second-page-link {
    font-weight: 700;
    font-size: 0.8rem;
    text-decoration: none;
    margin-right: 2rem;
  }
}
